.top-bar{
    height: 56px;
    width: 100%;
    margin-top: 54px;
    position: fixed;
    z-index: 8;
    background-color: #333333;
    top: 0px;
    left: 0px;
    padding: 24px 15px 0px 15px;
}
.top-bar .container .row .col{
    padding: 0px;
    text-align: center;
    font-size: 14px;
    color: #C4C4C4;
    text-transform: uppercase;
}
.content-body{
    width: 100%;
    height: 500px;
    margin-top: 118px;
    padding: 0px 15px;
    &::before{
        content: '';
        height: 95vh;
        width: 100px;
        position: fixed;
        z-index: -2;
        top: 112px;
        left: 0px;
        background-image: url('../../assets/lb-bg.svg');
        background-position: top;
        background-repeat: no-repeat;
        background-size: 90% 90%;
    }
}
.item-row{
    height: 72px;
    border-radius: 4px;
    background-color: #333333;
    box-shadow: 3px 3px 16px 0 rgba(0, 0, 0, 0.2),
                -1px -1px 6px 0 rgba(229, 229, 229, 0.1);
    margin-bottom: 16px;
}
.item-row .col{
    height: 100%;
    padding: 0px;
    text-align: center;
    font-size: 14px;
    color: #ED2020;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-row .col.info{
    padding-left: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: none;
    font-size: 16px;
    font-weight: 600;
}
.item-row .col.point{
    font-size: 18px;
    font-weight: 600;
}
.item-row .col.info img{
    border-radius: 50%;
    margin-right: 16px;
}

@media only screen and (max-width: 430px) {
    .info{
        img{
            width: 40px !important;
            height: 40px !important;
            margin-right: 14px !important;
        }
        p{
            text-align: left;
            font-size: 14px !important;
        }
    }
    .point{
        font-size: 16px !important;
    }
}