/* You can add global styles to this file, and also import other style files */
body{
    background-color: #333333;
    margin: 0px;
    padding: 0px;
}

.see{
    margin-top: 66px;
    color: #ffffff;
}